<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <title>StudentManager</title>
</head>
<body>
<div class="container mt-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Trang Chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Quản Lý Sinh Viên
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/student/list">Danh Sách Sinh Viên</a></li>
                            <li><a class="dropdown-item" href="/student/create">Thêm Sinh Viên</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class=" card col-6 mt-4 mx-auto">
        <div class="m-2">
            <div class="d-flex justify-content-between"><h3>Học viên: <%= student.name %> </h3> <a href="/student/list" class="btn btn-primary ">Danh Sách Học Viên</a></div>
            <hr>
        </div>
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th scope="col">Tên:</th>
                    <td scope="col"><%= student.name %></td>
                </tr>
                <tr>
                    <th scope="col">Lớp:</th>
                    <td scope="col"><%= student.classroom.name %></td>
                </tr>
                <tr>
                    <th scope="col">Điểm lý thuyết:</th>
                    <td scope="col"><%= student.theoreticalPoint %></td>
                </tr>
                <tr>
                    <th scope="col">Điểm thực hành:</th>
                    <td scope="col"><%= student.practicePoint %></td>
                </tr>
                <tr>
                    <th scope="col">Đánh giá:</th>
                    <td scope="col"><%= student.assess %></td>
                </tr>
                <tr>
                    <th scope="col">Mô tả:</th>
                    <td scope="col"><%= student.description %></td>
                </tr>
            </tbody>    
        </table>
        <div class="d-fex justify-content-start m-2">
            <a href="/student/<%= student._id %>/update" class="btn btn-primary"> Cập Nhật </a>
            <a class="btn btn-secondary" href="/student/list">Thoát</a>
        </div>
    </div>
</div>

</body>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</html>